
.container{
max-width: 700px;

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    padding: 20px;

}

.listreview {
    display: grid;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.itemreview {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-dark);
    padding: 8px;
    background-color: var(--primary);
    max-width: 600px;
    border-radius: 8px;
    
}
.author {
font-size: 14px;
font-weight: bold;
    color: var(--text-dark);
}
.review {
font-size: 14px;
color: var(--text-dark);
}
@media (min-width: 768px) {
    .container {
            max-width: 1000px; 
    }
    .author {
            font-size: 16px;

        }
                                .itemreview{
                    max-width: 900px;
                }
        .review {
            font-size: 16px;
           
    }
}
/* Десктоп */
@media (min-width: 1280px) {
    .container {
            max-width: 1200px;
        }
.author {
        font-size: 14px;
        font-weight: bold;
        color: var(--text-dark);
    }
                                   .itemreview{
                    max-width: 1000px;
                }
    
    .review {
        font-size: 14px;
        color: var(--text-dark);
    }
}